.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 4rem 8vw;
}

.mywork-title {
    position: relative;
    margin-bottom: 1.2rem;
    text-align: center;
}

.mywork-title h1 {
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #0062ff 0%, #61efff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mywork-title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.6rem;
    width: 60%;
    height: 0.4rem;
    background: linear-gradient(90deg, #61efff 0%, #0062ff 100%);
    border-radius: 0.6rem;
}

.mywork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.mywork-container img {
    box-sizing: border-box;
    width: 100%;
    max-width: 25rem;
    height: auto;
    aspect-ratio: 4/3;
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 0.6rem;
}

.mywork-container img:hover {
    transform: scale(1.10);
    border-radius: 1.2rem;
}

.mywork-showmore {
    display: flex;
    border-radius: 3rem;
    border: 2px solid white;
    gap: 1rem;
    padding: 1.2rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    transition: gap 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 2rem;
}

@media (max-width: 1024px) {
    .mywork {
        margin: 3rem 6vw;
    }

    .mywork-title h1 {
        font-size: 3rem;
    }

    .mywork-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .mywork {
        gap: 3rem;
        margin: 3rem 5vw;
        align-items: start;
    }

    .mywork-title {
        font-size: 2.5rem;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .mywork-container img {
        max-width: 100%;
    }

    .mywork-showmore {
        padding: 1rem 2rem;
        font-size: 1.1rem;
        margin: 3rem auto;
    }
}

@media (max-width: 480px) {
    .mywork {
        margin: 2rem 4vw;
        gap: 2rem;
    }

    .mywork-title h1 {
        font-size: 2rem;
    }

    .mywork-showmore {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}